#cookieMessage {
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 0 #FFFFFF;
    background: #000000;
    z-index: 9999;
    font-size: 14px;
    line-height: 1em;
    left: 0;
    text-align: center;
    color: #FFF;
    opacity: 0.7;
    height: 45px;
}

#cookieMessage.edit {
    margin-bottom: 15px;
    position: static;
}

#cookieMessage .message, #cookieMessage .knowMoreLink {
    display: inline-block;
}


#cookieMessage .close {
    cursor: pointer;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color: #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666 !important;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #fff;
    opacity: 1;
    top: -5px;
}

#cookieMessage a {
    color: #428bca;
}

@media (max-width: 767px) {
    #cookieMessage {
        height: auto;
        text-align: justify;
    }
}