.cookieConsent {
    background: black;
    border: none;
    font-size: 1em;
    line-height: 2em;
    color: white;
    opacity: 1;
    padding: 10px 0;
    margin: 0;
    text-shadow: none;
}

.cookieConsent.fixedTop,
.cookieConsent.fixedBottom {
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0;
}

.cookieConsent.fixedTop {
    top: 0;
}

.cookieConsent.fixedBottom {
    bottom: 0;
}

.cookieConsent.edit {
    position: static;
}

.cookieConsent.hide {
    display: none;
}

.cookieConsent .message {
    padding: 0 10px;
}

.cookieConsent__buttons {
    text-align: center;
}

.cookieConsent .accept,
.cookieConsent .dismiss {
    color: black !important;
    cursor: pointer;
    -webkit-transition: background-color 0.15s linear;
    -moz-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
    transition: background-color 0.15s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: 0;
    border: none;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    height: 2em;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    margin: 0 10px;
}

.cookieConsent .accept {
    background-color: rgba(150, 255, 150, 0.8);
}

.cookieConsent .accept:hover {
    background-color: rgba(150, 255, 150, 1);
}

.cookieConsent .dismiss {
    background-color: rgba(255, 150, 150, 0.8);
}

.cookieConsent .dismiss:hover {
    background-color: rgba(255, 150, 150, 1);
}

.cookieConsent a {
    color: #428bca;
}

@media (max-width: 767px) {
    .cookieConsent {
        text-align: justify;
    }
    .cookieConsent__buttons{
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
}
